<div ng-controller="EditCtrl as ctrl">
    <div class="page-header">
        <h1>Grocery Management Module
            <small>Edit</small>
        </h1>
    </div>
    <br/>

    <form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control"
                    ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.updateItem()">
                Save
            </button>
            <button type="submit" class="btn btn-info form-control"
                    ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.initDetails()">
                Cancel
            </button>
        </div>
    
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Barcode</th>
            <th>Brand</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ grocerylist.id }}</td>
            <td><img src="'http://www.barcodes4.me/barcode/c128a/' + {{ grocerylist.upc12 }} + '.png?IsTextDrawn=1'"></td>
            <td>{{ grocerylist.brand }}</td>
            <td>{{ grocerylist.name }}</td>
        </tr>
        </tbody>
    </table>
    </form>
    
</div>