<div class="container" ng-controller="SearchDBCtrl as ctrl">
    <div class="page-header">
        <h1>Grocery Management Module
            <small>Search</small>
        </h1>
    </div>
    <form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <input id="searchString"
                   class="form-control"
                   size="50"
                   type="text"
                   name="searchString"
                   ng-model="ctrl.searchString"
                   placeholder="Enter Brand or Item Name"
                   required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control" 
                    ng-click="ctrl.searchBrand()" ng-disabled="queryForm.$invalid"> 
                Search Brand
            </button>
            <button class="btn btn-info form-control" 
                    ng-click="ctrl.searchName()" ng-disabled="queryForm.$invalid"> 
                Search Item Name
            </button>
        </div>
    </form>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Barcode</th>
            <th>Brand</th>
            <th>Name</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="id in ctrl.grocerylist | orderBy: '-brand'">
            <td>{{ grocerylist.id }}</td>
            <td><img src="'http://www.barcodes4.me/barcode/c128a/' + {{ grocerylist.upc12 }} + '.png?IsTextDrawn=1'"></td>
            <td>{{ grocerylist.brand }}</td>
            <td>{{ grocerylist.name }}</td>
            <td> <button class="btn btn-info form-control" ng-click="ctrl.xxxx()">Edit</button> </td>
        </tr>
        </tbody>
        
    </table>
</div>


